.favorite_form
  - if article.is_favorited_by_user?(current_user)
    .i.icon-star
    - favorite =  article.article_user_favorites(current_user).first
    / = button_to 'un favorite', favorite_path(favorite) ,method: :delete
    = render 'articles/unfavorite', :article => article
  - else
    .i.icon-star-empty
    /= button_to 'favorite', favorites_path(:article_id => article)
    = render 'articles/favorite', :article => article
