.favorite_form
  - if article.is_favorited_by_user?(current_user)
    = link_to '<i class="icon-star" ></i>'.html_safe, unfavorite_article_path(@article)
  - else
    = link_to '<i class="icon-star-empty" ></i>'.html_safe, favorite_article_path(@article)
