.posts
  .posts_border
    - articles.each do |article|
      .post{:id =>"article_#{article.id}"}
        .row-fluid.post_borders
          = render 'articles/article', :article => article
  = will_paginate articles, :renderer => BootstrapPagination::Rails
