.published_posts.row-fluid
  .offset1.span10
    - articles.each do |article|
      .post_short{:id =>"article_#{article.id}"}
        = render 'articles/article_short', :article => article
    = will_paginate articles, :renderer => BootstrapPagination::Rails
