.published_posts
  .posts_border
    - articles.each do |article|
      .post{:id =>"article_#{article.id}"}
        = render 'articles/article_short', :article => article
  = will_paginate articles, :renderer => BootstrapPagination::Rails
