.rate_form
  .rate_plus
    = link_to '<i class="icon-thumbs-up" ></i>'.html_safe, plus_article_rates_path(@article)
  .rating
    = @article.rate
  .rate_minus
    = link_to '<i class="icon-thumbs-down" ></i>'.html_safe, minus_article_rates_path(@article)
